.project {
    .container {
        max-width: 1600px;
        margin-inline: auto;
    }

    &-row {
        margin-right: -25px;
        margin-left: -25px;

        @include lg {
            margin-right: 0;
            margin-left: 0;
        }

        @include mmd {
            margin-right: 0;
            margin-left: 0;
        }

        &>div {
            padding-right: 25px;
            padding-left: 25px;

            @include lg {
                padding-right: 15px;
                padding-left: 15px;
                padding-bottom: 30px;

                &:last-child {
                    padding-bottom: 0;
                }
            }

            @include mmd {
                padding-right: 10px;
                padding-left: 10px;
                padding-bottom: 20px;

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }

    & h2 {
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #FFF;
        font-size: 120px;
        line-height: 100%;
        text-transform: uppercase;
        padding-bottom: 48px;

        @include lg {
            font-size: 80px;
        }

        @include mmd {
            font-size: 60px;
            -webkit-text-stroke-width: .5px;
        }

        @include sm {
            font-size: 50px;
            padding-bottom: 30px;
        }
    }

    &-item {
        min-height: 1%;
        height: 100%;
        background-size: 100% 100%;

        @include sm {
            max-width: 350px;
            margin-inline: auto;
        }

        .item-content {
            padding: 0 50px 0 90px;

            @include xl {
                padding-inline: 0;
                width: calc(100% - 70px);
                margin-inline: auto;
                padding-left: 40px;
            }

            @include lg {
                padding-inline: 0;
                width: calc(100% - 60px);
                margin-inline: auto;
                padding-left: 40px;
            }

            @include sm {
                padding-inline: 0;
                width: calc(100% - 60px);
                margin-inline: auto;
                padding-left: 30px;
            }
        }

        & img {
            padding-top: 60px;
            max-width: 366px;
            width: 100%;
            margin: 0 40px 0 90px;

            @include xl {
                width: calc(100% - 60px);
                margin: 0;
                margin-inline: auto;
                padding-left: 40px;
            }

            @include lg {
                width: calc(100% - 60px);
                margin: 0;
                margin-inline: auto;
                padding-left: 40px;
            }

            @include mmd {
                width: calc(100% - 60px);
                margin: 0;
                margin-inline: auto;
                padding-left: 40px;
            }

            @include sm {
                width: calc(100% - 120px);
                margin: 0;
                margin-inline: auto;
                padding-left: 30px;
            }
        }

        & h4 {
            color: #E6E0E0;
            font-size: 21px;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1.26px;
            transform: rotate(6.457deg);
            position: relative;
            right: 29%;
            top: 6px;

            @include xl {
                font-size: 18px;
            }

            @include lg {
                font-size: 18px;
            }

            @include mmd {
                font-size: 16px;
            }
        }

        & h3 {
            color: $black;
            font-size: 37px;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 1.48px;
            padding-top: 18px;
            max-width: 348px;
            width: 100%;

            @include md {
                font-size: 24px;
            }

            @include sm {
                font-size: 18px;
                text-align: center;
            }
        }

        & p {
            color: $black;
            font-size: 20px;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.8px;
            text-transform: lowercase;
            padding-top: 12px;
            max-width: 308px;
            width: 100%;

            @include md {
                font-size: 16px;
            }

            @include sm {
                font-size: 16px;
                text-align: center;
            }
        }

        & a {
            color: $white;
            border-radius: 16px;
            border: 2px solid #000;
            background: #E23B3B;
            box-shadow: 4px 4px 0px 0px #191919;
            display: inline-block;
            padding: 9px 33px;
            font-size: 20px;
            letter-spacing: 1.6px;
            margin-top: 20px;
            margin-bottom: 60px;

            &:hover {
                box-shadow: 2px 2px 0px 0px #191919;
            }

            @include md {
                font-size: 16px;
            }

            @include sm {
                font-size: 16px;
                margin-left: 40px;
            }
        }
    }
}